hr {
  width: 100%;
}

.content {
  font-size: 17px;
}

.comment-section {
  position: relative;
  display: block;
  max-height: 500px;
  overflow: auto;
  width: 100%;
  padding: 0.5rem;
  margin: auto;
  background-color: #faf6f0;
  border: 1px solid #dee2e6;
  color: black !important;
}
.comment-divider {
  width: 100%;
  margin: 10px 0;
}

.deleteText {
  display: flex;
  justify-content: center;
}

.hiddenInput {
  position: relative;
  left: 440px;
}

.delete-button {
  position: absolute;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  display: none;
}

.comment-section:hover .delete-button {
  display: block;
}

.preComment {
  overflow-wrap: break-word !important;
  word-break: normal !important;
}
