.button-upload {
  cursor: pointer;
  font: inherit;
  min-height: 48px;
  min-width: 48px;
}

.keyBar {
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.keyBar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.keyBar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.keyBar button:hover {
  background-color: #0056b3;
}

.button-5 {
  appearance: none;
  background-color: var(--two);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  width: 7rem;
  height: 3rem;
}

.button-5:hover {
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-5:focus {
  outline: 1px transparent;
}

.button-5:before {
  display: none;
}

.button-5:-webkit-details-marker {
  display: none;
}

.createPageText {
  color: var(--text) !important;
}
