.button-8 {
  background-color: var(--four);
  border-radius: 3px;
  border: 1px solid var(--one);
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: var(--one);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  color: var(--text);
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.form-select {
  width: max-content;
  border-radius: 3px;
  border: 1px solid var(--one);
  outline: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.15385;
  color: var(--one);
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
}

.paginationDisabled {
  pointer-events: none;
}

.button-4s {
  appearance: none;
  background-color: var(--button-color);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--text);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4s:hover {
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4s:focus {
  outline: 1px transparent;
}

.button-4s:before {
  display: none;
}

.button-4s:-webkit-details-marker {
  display: none;
}

.orderByAndBtns {
  color: var(--text);
}
