.hasCodeBox1 {
  background-color: #f9f3cc;
  padding: 5px;
  color: black;
}

.hasImageBox1 {
  background-color: #d7e5ca;
  padding: 5px;
  color: black;
}

.generalDicussionBox1 {
  background-color: #dddddd;
  padding: 5px;
  color: black;
}
