/* default white mode */
:root {
  /* accents */
  --one: #ad8b73;
  --two: #ceab93;
  --three: #e3caa5;
  --four: #fffbe9;
  /* main */
  --body: #ffffff;
  --navbar: #ffffff;
  --card: #ffffff;
  --text: #000000;
  --card-text: #000000;
  --button-color: #f4eae0;
  --navbar-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --code-box: #ffeddb;
  --image-box: #f7ccac;
  --discuss-box: #dddddd;
  --orderByBorder: #ad8b73;
  --posted-on-opacity: 0.5;
  --posted-on-color: #000000;
  --hr: black;
}

/* dark mode */
[data-theme="dark"] {
  /* accents */
  --one: #8145e8;
  --two: #8145e8;
  --three: #8145e8;
  --four: #007d11;
  /* main */
  --body: #0d1117;
  --navbar: #0d1117;
  --card: #0D117;
  --text: #e6edf3;
  --card-text: #7d8590;
  --button-color: #007d11;
  --navbar-border: 1px solid rgb(87, 87, 87);
  --code-box: #bfafdd;
  --image-box: #98e695;
  --discuss-box: #fafbfc;
  --orderByBorder: #98e695;
  --posted-on-opacity: 0.5;
  --posted-on-color: #d4d8df;
  --hr: white;
}
