:root {
  --body_background: white;
  --navbar_background: #f8f9fa;
  --body_color: black;
  --link_color: navy;
  --card_background: #ffffff;
}

[data-theme="dark"] {
  --body_background: #343541;
  --navbar_background: purple;
  --body_color: white;
  --link_color: cyan;
  --card_background: #2d2d2d;
}
